html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: inherit;
}

html {
  min-width: 270px;
  min-height: 100vh;
}
